@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook.eot');
  src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamBook.woff') format('woff'),
  url('../fonts/GothamBook.ttf') format('truetype');
  //url('../fonts/GothamBook.svg#gotham_bookregular') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Regular';
  src: url('../fonts/gothambook-webfont.eot');
  src: url('../fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothambook-webfont.woff') format('woff'),
  url('../fonts/gothambook-webfont.ttf') format('truetype'),
  url('../fonts/gothambook-webfont.svg#gotham_bookregular') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/gothamlight-webfont.eot');
  src: url('../fonts/gothamlight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothamlight-webfont.woff') format('woff'),
  url('../fonts/gothamlight-webfont.ttf') format('truetype'),
  url('../fonts/gothamlight-webfont.svg#gotham_lightregular') format('svg');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/gothambold-webfont.eot');
  src: url('../fonts/gothambold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothambold-webfont.woff') format('woff'),
  url('../fonts/gothambold-webfont.ttf') format('truetype'),
  url('../fonts/gothambold-webfont.svg#gotham_boldregular') format('svg');
  font-weight: 700;
  font-style: normal;

}


@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/gothambook-webfont.eot');
  src: url('../fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothambook-webfont.woff') format('woff'),
  url('../fonts/gothambook-webfont.ttf') format('truetype'),
  url('../fonts/gothambook-webfont.svg#Gotham Book') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Gotham Book Italic';
  src: url('../fonts/gothambook-italic-webfont.eot');
  src: url('../fonts/gothambook-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothambook-italic-webfont.woff') format('woff'),
  url('../fonts/gothambook-italic-webfont.ttf') format('truetype'),
  url('../fonts/gothambook-italic-webfont.svg#Gotham Book Italic') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/gothammedium-webfont.eot');
  src: url('../fonts/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothammedium-webfont.woff') format('woff'),
  url('../fonts/gothammedium-webfont.ttf') format('truetype'),
  url('../fonts/gothammedium-webfont.svg#gotham_mediumregular') format('svg');
  font-weight: 500;
  font-style: normal;

}