.icon-facebook{
  background: url(../img/sprites/wh_linen_social_media_sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0px 0px;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.icon-twitter{
  background: url(../img/sprites/wh_linen_social_media_sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -6px -78px;
  width: 25px;
  height: 25px;
  display: inline-block;

}
.icon-pinterest{
  background: url(../img/sprites/wh_linen_social_media_sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -2px -157px;
  width: 25px;
  height: 25px;
  display: inline-block;

}
.icon-instagram{
  background: url(../img/sprites/wh_linen_social_media_sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -1px -239px;
  width: 25px;
  height: 25px;
  display: inline-block;
}
